<app-cursos>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Curso</th>
          <th scope="col">Carga Horária</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>PAOO</td>
          <td>80</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">2</th>
          <td>ED</td>
          <td>80</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">3</th>
          <td>POO</td>
          <td>80</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">4</th>
          <td>Banco de Dados</td>
          <td>80</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-cursos>
